<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1 th:text="${title}">Testing the login page</h1>
    <form action="#" th:action="@{doLogin}" th:object="${loginModel}" method="post">
        <table>
            <tr>
                <td>Username:</td>
                <td><input type="text" th:field="*{username}" ></td>
                <td><h5 style="color:red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username error</h5></td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><input type="password" th:field="*{password}" ></td>
                <td><h5 style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password error</h5></td>
            </tr>
            <tr>
                <td colspan="3"><input type="submit" value="Submit" /></td>
            </tr>
        </table>
        <div th:if="${#fields.hasErrors('*')}">List of Errors</div>
        <div th:each="err : ${#fields.errors('*')}">
            <span style="color:red" th:text="${err}" class="fieldError"></span>
        </div>
    </form>
</body>
</html>